html  {
    scroll-behavior: smooth; /* ajouterr cette propriété rend le scroll plus doux lorsque tu cliques sur un des éléments du menu*/
}

/*Body réinitialisé*/
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2{
    color: white;
    font-family: 'Lato', sans-serif;
}

h3,p{
    color: darkblue;
}



/*Section Hero*/
.hero{
    height: 100vh;
    width: 100vw;
    background-image: url(../img/banniere-accueil.jpg);
    background-color: #9598c0;
    background-blend-mode:color-burn;
    background-size: cover;
}



/*section à propos*/
.a_propos{
    margin: 20px;
}


/*section services*/
.services{
    background-color: #a9acda;
    padding-top: 50px;
}

/*footer*/
footer{
    /* height: 50px; tu peux aussi ajouter padding-top et padding-bottom pour obtenir la height souhaité, en plus ça centrera le texte verticalment */
    background:darkblue;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Stéphane! joli travail!!
Voici quelques propositions d'amélioration:
section Accueil :
- Gérer le responsive du menu
- Utilisation de la fonction clamp pour rendre h1 plus responsive
- Gérer les padding et les tailles des icônes dans la section services
- répartir le css dans des feuilles de style séparées est une bonne pratique. Que penses-tu de répartir en fonction des sections ou des pages pour trouver plus facilement le code qui y est associé? accueil.css, a-propos.css ...

Bravo, beaucoup d'acquis, et c'est grâce à tes efforts!
tu as bien réussi le zoning et l'intégration.
Un peu d'amélioration au niveau du responsive fera de toi UN BOSS : )

Je te ferai un retour sur le premier projet dès que je peux,
Have fun!
To be continued ; ) 
*/

